@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(150, 98, 98, 0.315),rgba(0, 0, 255, 0.863)), url('bg.png');
}


.main{
   background: #ccc;
   width: 400px;
   margin: 100px auto;
   height: 175px;
   position: relative;
   padding: 30px;
}

.badge{
    width: 96px;
    background: #e66357;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 40%;
   
}

.clock{
    background-color: #EBEBEB;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding: 35px;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    border-radius: 4px;
    
}